html, body {
    height: 100%;
  }
  
 /* Ensure background(s) fill whiteSpace */
body,
img,
(contentDiv) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
/* Apply googleFonts? */
body {
    background-image: url(#);
    font-family: #;
    font-size: 16px;
    line-height: 1;
}
  
/* Apply googleFonts? */
h1 {
    font-family: #;
    font-weight: bolder;
}
  
/* Add border-radius to divs for rounded corners? */
(divCorners) {
    border-radius: 15px;
}

textarea {
    background: transparent;
    background-color:palevioletred;
    border: none;
    border-left: 1px solid black;
    color: lightyellow;
    opacity: 0.75;
    padding: 10px;
    resize: none;
    width: 60%;
}
  
(centerTxt) {
    text-align: center;
}
  
(headerBG) {
    background-color: rgba(255, 182, 193, 0.5);
    border-radius: 3%;
    display: inline-block;
    width: 50%;
}
  
(containerSpacing) {
    margin-bottom: 60px;
}
  
img {
    border-radius: 50px;
    float: left;
    height: 100%;
    margin-right: 50px;
    opacity: 0.9;
    width: 30%;
}
  
(divText) {
    font-size: 16px;
    white-space: pre-wrap;
}

/* If applicable... */
.row {
    border-top: 1px solid white;
    height: 80px;
    white-space: pre-wrap;
}
  
(resultBG) {
    background-color: lightpink;
    border-radius: 5px;
    border-top: 1px dashed #000000;
    color: darkslategrey;
    opacity: 0.95;
    padding: 10px;
    width: 20%;
}
  
(searchBtn) {
    background-color: steelblue;
    border-bottom-right-radius: 15px;
    border-left: 1px solid dimgray;
    border-top-right-radius: 15px;
    color: white;
    opacity: 0.9;
    width: 20%;
}
  
(btnHover),
(dropdown/Hover?) i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}
  
.footer {
    background-color: lightgray;
    color: #2e2e2e;
    flex-shrink: 0;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 25px;
    width: 100%;
}
  
@media screen and (max-width: 768px), screen and (max-width: 575px) {
h1{
    font-size: 60px !important;
}

(divText){
    font-size:16px;
}

img {
    display: none;
}

(btnResize)) {
    width: 100%;
}
}