html, body {
    height: 100%;
}
  
/* Ensure background(s) fill whiteSpace */
body,
img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
/* Apply googleFonts? */
body {
    background-image: url(https://us.123rf.com/450wm/annakristal/annakristal1702/annakristal170200381/71109637-seamless-pattern-cute-template-for-restaurant-menu-ice-cream-and-fruits-seamless-pattern-pastel-colo.jpg?ver=6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    font-size: xx-large;
    padding: 15px;
    border-bottom: 15px mediumseagreen;
}

.page-body {
    flex-grow: 1;
    margin-top: 50px;
}

header,
footer {
  flex-shrink: 0;
  background-color: teal;
  color: white;
}

h1,
h2,
h3,
h4,
.accordion-title {
    font-family: Georgia, 'Times New Roman', Times, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-weight: bold;
    color: navy;
}

h3 {
    font-weight: bold;
    color: mediumaquamarine;
}

img {
    width: auto;
    margin-bottom: 25px;
}

.image {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.accordion-title {
    background-color: navy;
    border-color: lightgray;
    color: white;
    font-size: x-large;
    font-weight: lighter;
}

.accordion-content {
    border-top: 100px lightsteelblue;
    background-color: mintcream;
    text-align: left;
}

.resultsBorder {
    background-color: darkslateblue;
}

#search-wrapper {
    background-color: pink !important;
    border-radius: 5px;
    padding: 25px;
    width: auto;
}

#searchBar,
.column,
select,
#searchBtn {
    margin: auto;
}

.large-2 {
    margin: 0px;
}

#searchBtn {
    background-color: grey;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#results-wrapper {
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 25px;
    padding: 20px;
    width: 100%;
}

a {
    color: darkgray;
}

#mainContent {
    padding: 0px;
}

p {
    margin: 0px;
}

footer {
    margin-top: 15px;
    padding: 25px;
    width: 100%;
}